.hentry,
.no-results {
    padding: 15px;
    border-bottom: 1px solid #e2e2e2;
}

.single {
    .hentry,
    .no-results {
        padding: 0;
    }
}

.entry-content {
    font-size: 1.125rem;
    padding: 10px;
}

.entry-summary {
    p:last-child {
        margin-bottom: 0;
    }
}

.entry-thumbnail {
    margin: auto;
    overflow: hidden;
    img {
        display: block;
        margin: auto;
    }
}

.tags-links,
.cat-links {
    a {
        border: 1px solid;
        font-size: 10px;
        padding: 3px 5px;
        text-transform: uppercase;
        display: inline-block;
        margin: 0 3px 3px 0;
        font-weight: 700;
        background: $primary_color;
        color: #fff;
        &:hover {
            color: #fff;
            background: $secondary_color;
        }
    }
}

.entry-footer {
    margin-top: 10px;
    color: #999;
    line-height: 1.3;
    border-top: 1px solid #e2e2e2;
    .sep {
        font-size: 0px;
    }

    .comments-link a,
    .edit-link a {
        text-decoration: underline;
    }
}

.page-template-default {
    .entry-footer {
        display: none;
    }
    &.admin-bar {
        .entry-footer {
            display: block;
        }
    }
}

.page-content {
    margin: 0 0 20px;
    background-color: #fff;
}

.page-links {
    clear: both;
    margin: 0 auto 20px;
    color: #fff;
    padding: 0;
    line-height: 0;
    display: table;
    background-color: $main_navigation;
    & > span {
        display: none;
    }
    a {
        color: #fff;
        padding: 0 13px;
        line-height: 35px;
        display: inline-block;
        background-color: $primary_color;
    }
}

.posted-on,
.byline,
.edit-link,
.cat-links,
.tags-links,
.comments-link {
    display: inline-block;
    font-size: 1em;
}

.entry-header {
    .cat-links {
        font-size: 0.750rem;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-style: normal;
        font-weight: 700;
        display: inline-block;
        line-height: 1.4em;
        margin-top: 5px;
    }
    .tags-links {
        display: block;
        line-height: 1.4em;
        font-weight: 700;
        margin-top: 5px;
    }
}

.author-name {
    font-weight: 700;
}

.entry-meta {
    margin-bottom: 10px;
    font-size: 0.750rem;
    color: #aaa;
    text-align: center;
    line-height: 1.3;
    text-transform: uppercase;
}

.entry-meta {
    .posted-on a,
    .author a {
        color: #333;
    }
}

.read-more {
    display: inline-block;
    font-weight: 700;
}

.updated:not(.published) {
    display: none;
}

.byline .author {
    display: inline-block;
}

.byline .avatar {
    border-radius: 24px;
    float: left;
    margin: -3px 5px 0 15px;
}

.error404 .entry-header {
    margin: 0 0 20px;
}

/* Posts Loop */
.posts-loop {
    .entry-header {
    }
    &.wrapper-type-grid {
        &.entry-thumbnail {
            .entry-header {
                margin: 20px 0 0;
            }
        }
    }
    .entry-summary {
        word-wrap: break-word;
        margin-top: 10px;
    }
    p {
        margin: 0;
    }
    .read-more-link {
        padding-top: 10px;
        display: block;
    }
    .read-more {
        &:after {
            content: "\f178";
            display: inline-block;
            margin-left: 8px;
            vertical-align: middle;
            margin-top: -2px;
            font-size: 14px;
            font-family: 'FontAwesome';
            -webkit-transition: margin-left .2s;
            -moz-transition: margin-left .2s;
            transition: margin-left .2s;
        }
        &:hover {
            &:after {
                margin-left: 15px;
            }
        }
    }

    .cat-links {
        a {
            &:hover {
                color: #fff;
            }
        }
    }
}

/* Large Posts */
.large-post {
    .entry-title {
        text-align: center;
    }
    .entry-header {
        margin: 0 auto 10px;
    }
    .entry-summary {
        margin-top: 10px;
    }
    .read-more-link {
        padding-top: 10px;
        display: block;
        text-align: center;
    }
    .read-more {
        margin-top: 10px;
        padding: 7px 20px 5px;
        background-color: transparent;
        border: 1px solid $primary_color;
        color: $primary_color;
        font-weight: 700;
        line-height: 20px;
        border-radius: 124px;
        &:hover {
            color: #fff;
            background-color: $primary_color;
        }
    }
}

/* Grid Posts */
/*.flexx-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  .post-wrapper {
        position: relative;
        margin-bottom: 20px;
  }
  .hentry {
        height: 100%;
        margin: 0;
    padding:15px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
  }
}*/

.wrapper-type-list {
    .entry-title {
        @media(max-width: 600px) {
            margin-top: 10px;
        }
    }
}

.grid-post {
    .entry-meta {
        margin: 5px 0;
    }
    .entry-summary {
        font-size: 0.9375em;
    }
    .entry-title {
        font-size: 1.250rem;
        text-align: center;
    }
}

.read-more {
    min-width: 22px;
    line-height: 26px;
    text-align: center;
    border-radius: 3px;
    color: #666;
    font-size: 14px;
    -webkit-font-smoothing: subpixel-antialiased;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
    display: inline-block;
    position: inherit;
    &:hover {

    }
}

.grid-post .cat-links {
    font-weight: 700;
}

/* Sticky Post */
.sticky .entry-title a {
    position: relative;
}

.sticky .entry-title a:before {
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';

    content: "\E867";
    vertical-align: -20%;
    padding-right: 2px;
}

/* Post Formats */

.format-audio,
.format-gallery,
.format-image,
.format-quote,
.format-video {
    .entry-title {
        a {
            position: relative;
            &:before {
                font-family: 'FontAwesome';
                font-weight: normal;
                font-style: normal;
                font-size: 24px;
                display: inline-block;
                line-height: 1.6em;
                text-transform: none;
                letter-spacing: normal;
                word-wrap: normal;
                white-space: nowrap;
                direction: ltr;
                -webkit-font-smoothing: antialiased;
                text-rendering: optimizeLegibility;
                -moz-osx-font-smoothing: grayscale;
                font-feature-settings: 'liga';
                /* vertical-align: -20%; */
                padding-right: 5px;
            }
        }
    }
}

.format-audio .entry-title a:before {
    content: "\f028"
}

.format-video .entry-title a:before {
    content: "\f03d"
}

.format-gallery .entry-title a:before {
    content: "\f008";
}

.format-image .entry-title a:before {
    content: "\f1c5";
}

.format-quote .entry-title a:before {
    content: "\f10d";
}

/* Infinite scroll */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}

/* Featured Posts */

.featured-posts {
    margin-bottom: 20px;
}

.featured-posts .row {
    margin-left: -10px;
    margin-right: -10px;
}

.featured-posts .col-8,
.featured-posts .col-4 {
    padding-left: 10px;
    padding-right: 10px;
}

.featured-item {
    position: relative;
    height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(0, 0, 0, .1);
    margin-bottom: 20px;
    box-sizing: border-box;
    opacity: 1;
    transition: all 0.2s ease-in-out 0s;
    &:hover {
        opacity: .9;
    }
}

.featured-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    outline: none;
}

.featured-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 80px 30px 30px;
    text-align: center;
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to top, rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, 0) 100%);
    h4 {
        text-align: center;
        margin: 0;
        text-transform: none;
        font-size: 22px;
        a {
            color: #fff;
        }
    }
    .entry-meta {
        color: #fff;
        font-weight: 700;
        a {
            color: #fff;
        }
    }
}

/* Single Posts and Pages */
body {
    &.single,
    &.page {
        .post,
        .page {
            .entry-header {
                margin-bottom: 20px;
            }
            .entry-meta {
                margin: 10px auto 0;
                text-align: center;
            }
            .entry-title {
                text-align: center;
            }
            .entry-footer {
                margin: 0;
                padding: 15px;
            }
            .entry-thumbnail {
                margin: 0 auto 20px;
                img {
                    display: block;
                    margin: auto;
                    max-width: 100%;
                    height: auto;
                }
            }
        }
        .author {
            font-size: 0.875rem;
        }
        .entry-category {
            margin: 0 auto 10px;
        }

        .attachment img {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }
}

.posted-on {
    position: relative;

    text-transform: capitalize;
    &:before {
        font-family: "FontAwesome";
        font-weight: normal;
        font-style: normal;
        font-size: 14px; /* Preferred icon size */
        display: inline-block;
        line-height: 0.5em;
        text-transform: capitalize;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;

        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;

        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;

        /* Support for IE. */
        font-feature-settings: 'liga';

        vertical-align: -20%;
        padding-right: 6px;
        content: "\f073";
    }
    time {
        text-transform: capitalize;
    }
    &:hover {
        color: $secondary_color;
        time, .entry-date {
            color: $secondary_color;

        }
    }
}

.cat-links, .tags-links {
    a {

        &:before {
            font-family: "FontAwesome";
            font-weight: normal;
            margin-right: 2px;

        }
    }
}

.cat-links {
    a {
        &:before {
            content: "\f07b";
        }
    }
}

.tags-links {
    a {
        &:before {
            content: "\f02b ";
        }
    }
}

.byline {
    .author {
        text-transform: capitalize;

    }
    &:hover {
        color: $secondary_color;

        a {
            color: $secondary_color;
        }
    }
}

/* Featured Image */
.fimg-fullwidth {
    .entry-header {
        margin: 0 auto 20px;
    }
    .entry-title {
        text-align: center;
    }
    .entry-thumbnail {
        margin: 0 auto 20px;
    }
    .entry-meta {
        margin: 10px 0 0;
    }
    .entry-category {
        margin: 0 0 10px;
    }
}

/* Posts Navigation */
.posts-navigation,
.post-navigation {
    padding: 15px;
    overflow: hidden;
    clear: both;
}

.posts-navigation {
    a {
        display: inline-block;
        padding: 5px 0;
        color: #888;
        line-height: 1.3;
        transition: all 0.2s ease-in-out 0s;
    }
    &:hover {
        color: $primary_color;
        border-color: $primary_color;
    }
}

.comment-navigation {
    margin-bottom: 20px;
}

.comment-navigation,
.posts-navigation,
.post-navigation {
    .nav-previous,
    .nav-next {
        width: 50%;
        box-sizing: border-box;
    }
    .nav-previous {
        float: left;
        text-align: left;
        padding-right: 10px;
    }
    .nav-next {
        float: right;
        text-align: right;
        padding-left: 10px;
    }
}

.post-navigation {
    position: relative;
    border-bottom: 1px solid #e2e2e2;
    &:before {
        content: "";
        display: block;
        width: 1px;
        height: 50%;
        position: absolute;
        left: 50%;
        top: 25%;
        border-right: 1px solid #eee;
    }
}

.nav-previous,
.nav-next {
    a {
        position: relative;
        font-size: 0.9375em;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
        &:before,
            &:after {
            font-family: 'FontAwesome';
            font-weight: normal;
            font-style: normal;
            font-size: 16px; /* Preferred icon size */
            display: inline-block;
            line-height: 1;
            text-transform: none;
            letter-spacing: normal;
            word-wrap: normal;
            white-space: nowrap;
            direction: ltr;

            /* Support for all WebKit browsers. */
            -webkit-font-smoothing: antialiased;
            /* Support for Safari and Chrome. */
            text-rendering: optimizeLegibility;

            /* Support for Firefox. */
            -moz-osx-font-smoothing: grayscale;

            /* Support for IE. */
            font-feature-settings: 'liga';

            vertical-align: -20%;
        }
    }
}

.nav-previous a:before {
    content: "\f0a8";
    padding-right: 4px;
    line-height: 0.4em;
    margin-left: 1px;
}

.nav-next {
    a {
        padding-right: 20px;
        &:after {
            content: "\f0a9";
            top: 6px;
            right: 1px;
            padding-left: 5px;
            position: absolute;

        }
    }
}

.posts-navigation {
    .nav-previous {
        position: relative;
        &:before {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            width: 1px;
            height: 100%;
            border-right: 1px solid #eee;
        }
    }
}

/* Author bio */

.author-info {
    background-color: #fff;
    overflow: hidden;
    padding: 15px 0;
    border-bottom: 1px solid #e2e2e2;
}

.author-avatar {
    margin-bottom: 10px;
}

.author-avatar img {
    display: block;
    margin: auto;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.author-title {
    clear: none;
    margin: 0 0 5px 0;
    font-weight: 700;
    text-align: center;
}

.author-description p:last-child {
    margin-bottom: 0;
}

.author-bio {
    font-size: 0.9375em;
    color: #666;
}

/* Archives and Search */

.page-header {
    margin-bottom: 30px;
}

.taxonomy-description {
    text-align: center;
    color: #666;
    margin-top: 5px;
    font-size: 0.9375em;
}

.taxonomy-description p {
    margin: 0;
}

/* Error 404 */

.error-404 .widget {
    box-shadow: none;
    padding: 0;
}

#page {
    max-width: 1240px;
    margin: 0 auto;
}

.post-wrapper {
    article {
        background: #fff;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px;
        &:hover {
            box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
        }
    }
}

aside.sidebar {
    li {
        list-style: none;
    }
    @media(min-width: 960px) {
        width: 33.33333333%;
        float: right;
        padding: 0 15px;
        box-sizing: border-box;
    }
    .widget {
        padding: 15px;
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}

.site-content {

}

.content-area {
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

body.home, body.archive, body.search {
    .content-area {
        background: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

.miteri-lazy-loading{
    overflow:hidden;
    &:after{
        content:"";
        display:block;
        clear:both;
    }
}
.loading-image{
    display:none;
    text-align:center;
    &.active{
        display:block;
    }
}