.site-footer {
	margin: 20px auto 0;
	background-color: $footer_background;
	border-top: 1px solid #eee;
}

.footer-copy {
	clear: both;
	padding: 15px 0;
}

.site-info,
.site-credits {
	font-size: 0.875rem;
	color: #fff;
	text-align: center;
}

.site-credits {
	margin-bottom: 15px;
}

.site-info a {
	color: #fff;
}
