button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 0;
    border-radius: 128px;
    background: $primary_color;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.3;
    padding: 10px 30px;
    opacity: 1;
    font-weight: 700;
    box-sizing: border-box;
    transition: opacity 0.3s ease 0s;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    opacity: 0.85;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
    border: 0;
    outline: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea{
    color: #666;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

select {
    border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #222;
    outline: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
    padding: 5px 10px;
}

textarea {
    padding: 5px 10px;
    width: 100%;
}

.comment-form input[type="text"],
.comment-form input[type="url"],
.comment-form input[type="email"] {
    width: 100%;
    transition: all .2s ease 0s;
    box-shadow: none;
}

.comment-form input[type="text"]:focus,
.comment-form input[type="url"]:focus,
.comment-form input[type="email"]:focus,
.comment-form textarea:focus {
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.05);
    border-color: #ddd;
}

/* Remove Safari's default styling from the inputs. */
input, textarea {
    -webkit-appearance: none;
}

/* Search Form */

.search-form {
    position: relative;
}

.search-form .search-field,
.search-form input[type="search"] {
    width: 100%;
    padding: 5px 50px 5px 20px;
    border: 0;
    background-color: #f5f5f5;
    font-size: 0.875rem;
    line-height: 28px;
    border: 1px solid #ddd;
}

.search-form .search-field:focus {
    border-color: #ddd;
}

.search-form .search-submit {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 10px;
    width: 50px;
    height: 40px;
    background-color: transparent;
    color: #666;
    text-align: center;
    border-radius: 0;
    box-sizing: border-box;
}
