@media screen and (max-width:1340px){
	.parallax{
		margin-left:0px;
		margin-right:0px;
	}
}

@media screen and (min-width: 600px) {
	/* Grid */
	.col-sm-1,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12 {
		float: left;
	}
	.col-sm-12 {
		width: 100%;
	}
	.col-sm-11 {
		width: 91.66666667%;
	}
	.col-sm-10 {
		width: 83.33333333%;
	}
	.col-sm-9 {
		width: 75%;
	}
	.col-sm-8 {
		width: 66.66666667%;
	}
	.col-sm-7 {
		width: 58.33333333%;
	}
	.col-sm-6 {
		width: 50%;
	}
	.col-sm-5 {
		width: 41.66666667%;
	}
	.col-sm-4 {
		width: 33.33333333%;
	}
	.col-sm-3 {
		width: 25%;
	}
	.col-sm-2 {
		width: 16.66666667%;
	}
	.col-sm-1 {
		width: 8.33333333%;
	}
	.posts-loop > .col-sm-6:nth-child(2n+1) {
		clear: left;
	}
	/* Header */
	.site-logo .custom-logo {
		max-width: 220px;
	}
	.site-title {
		font-size: 2.5rem;
	}
	/* Content */
	.entry-title {
		text-align: left;
	}
	.posts-loop .entry-thumbnail img {

	}
	.posts-loop .entry-thumbnail:hover img {
		border-color: $primary_color;
		opacity: .9;
	}
	.search-no-results .search-form,
	.error404 .search-form {
	}
	/* Grid Posts */
	.grid-post {
		display: flex;
		flex-direction: column;
	}
	.grid-post .entry-thumbnail,
	.grid-post .entry-header,
	.grid-post .entry-footer {
		flex: 0 1 auto;
	}
	.grid-post .entry-summary {
		flex: 1 1 auto;
	}
	/* List Posts */
	.list-post .entry-thumbnail {
		float: left;
		width: 33%;
		max-width: 200px;
		margin: 0 20px 5px 0;
	}
	.list-post .entry-title {
		clear: none;
		text-align: left;
		font-size: 1.25rem;
	}
	.list-post .entry-header {
		padding-top: 0;
		margin-top: 0;
	}
	.list-post .entry-meta {
		text-align: left;
		margin-bottom: 5px;
	}
	.list-post .entry-footer {
		margin-top: 5px;
	}
	/* Featured Posts */
	.featured-large {
		height: 320px;
	}
	.featured-small {
		height: 220px;
	}
	.featured-large h4 {
		font-size: 26px;
	}
	.featured-small h4 {
		font-size: 18px;
	}
	/* Author bio */
	.author-avatar {
		margin-bottom: 0;
	}
	/* Forms */
	.comment-form input[miteri="text"],
	.comment-form input[miteri="url"],
	.comment-form input[miteri="email"] {
		width: auto;
	}
}

@media screen and (min-width: 720px) {
	/* Grid */
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		float: left;
	}
	.col-md-12 {
		width: 100%;
	}
	.col-md-11 {
		width: 91.66666667%;
	}
	.col-md-10 {
		width: 83.33333333%;
	}
	.col-md-9 {
		width: 75%;
	}
	.col-md-8 {
		width: 66.66666667%;
	}
	.col-md-7 {
		width: 58.33333333%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-5 {
		width: 41.66666667%;
	}
	.col-md-4 {
		width: 33.33333333%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-2 {
		width: 16.66666667%;
	}
	.col-md-1 {
		width: 8.33333333%;
	}
	/* Header */
	.header-image {
		height: 200px;
	}
	/* Large Posts */
	.large-post {
		margin-bottom: 40px;
	}
	.large-post .entry-header {
		margin: 0 auto 20px;
	}
	.large-post .entry-summary {
		margin-top: 20px;
	}
	/* Featured Posts */
	.featured-large {
		height: 400px;
	}
	.featured-small {
		height: 260px;
	}
	.featured-large h4 {
		font-size: 30px;
	}
	.featured-small h4 {
		font-size: 20px;
	}
}

@media screen and (min-width: 960px) {
	/* Grid */

	.row {
		margin-left: -15px;
		margin-right: -15px;
	}
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
		float: left;
		padding-left: 15px;
		padding-right: 15px;
	}
	.col-12 {
		width: 100%;
	}
	.col-11 {
		width: 91.66666667%;
	}
	.col-10 {
		width: 83.33333333%;
	}
	.col-9 {
		width: 75%;
	}
	.col-8 {
		width: 66.66666667%;
	}
	.col-7 {
		width: 58.33333333%;
	}
	.col-6 {
		width: 50%;
	}
	.col-5 {
		width: 41.66666667%;
	}
	.col-4 {
		width: 33.33333333%;
	}
	.col-3 {
		width: 25%;
	}
	.col-2 {
		width: 16.66666667%;
	}
	.col-1 {
		width: 8.33333333%;
	}
	.posts-loop > .col-6:nth-child(2n+1) {
		clear: left;
	}
	.posts-loop > .col-4:nth-child(3n+1) {
		clear: left;
	}
	.inside {
		margin: 0 -15px;
	}
	.content-area {
		width: 66.66666667%;
		float: left;
		box-sizing: border-box;
		padding: 15px 15px 0;
	}

	/* List Posts */
	.list-post .entry-thumbnail {
		max-width: 200px;
	}
	/* Sidebar Position */
	.content-fullwidth .content-area,
	.content-centered .content-area,
	.has-no-sidebar .content-area {
		float: none;
		width: 100%;
	}
	.content-fullwidth .large-post .entry-header,
	.content-fullwidth .large-post .entry-summary,
	.has-no-sidebar .content-area .large-post .entry-header,
	.has-no-sidebar .content-area .large-post .entry-summary {
		padding-left: 80px;
		padding-right: 80px;
	}
	.content-centered .entry-header,
	.content-centered .entry-content,
	.content-centered .entry-footer,
	.content-centered .author-info,
	.content-centered .post-navigation,
	.content-centered .comments-area {
		max-width: 760px;
		margin-left: auto;
		margin-right: auto;
	}
	.sidebar-content .content-area {
		float: right;
	}
	.sidebar-content .sidebar {
		float: left;
		padding: 0 15px 0 0;
	}
	.content-sidebar .page-title,
	.sidebar-content .page-title {
		text-align: left;
	}
	.content-sidebar .page-header,
	.sidebar-content .page-header {
		margin-bottom: 20px;
	}
	/* Page Templates */
	.page-template-fullwidth .content-area,
	.page-template-centered .content-area {
		float: none;
		width: 100%;
	}
	.page-template-centered .entry-header,
	.page-template-centered .entry-content,
	.page-template-centered .entry-footer,
	.page-template-centered .comments-area {
		max-width: 760px;
		margin-left: auto;
		margin-right: auto;
	}
	/* Navigation */
	.mobile-navbar,
	.main-navigation ul .dropdown-toggle {
		display: none;
	}
	.main-navbar {
		display: block;
		background: $main_navigation;

	}
	.main-navigation {
		display: inline-block;
		.main-menu {
			& > li.current-menu-item {
				& > a {
					background: $primary_color;
					color: #fff;
				}
			}
		}
	}
	.main-navigation ul {
		display: inline-block;
		background-color: transparent;
		text-align: center;
	}
	.main-navigation a,
	.main-navigation li {
		display: inline-block;
	}
	.main-navigation .sub-menu > li {
		display: block;
		width: 100%;
	}
	.main-navigation > ul > li > a {
		padding: 5px 10px;
		margin: 0;
		color: #fff;
		line-height: 40px;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		border: 0;
		opacity: 1;
		transition: color 0.3s ease-in-out 0s;
		&:hover {
			background: $primary_color;
			color: #fff;
		}
	}
	.main-navigation > ul > li.menu-item-has-children > a,
	.main-navigation > ul > li.page_item_has_children > a {
		position: relative;
	}
	.main-navigation > ul > li.menu-item-has-children > a:after,
	.main-navigation > ul > li.page_item_has_children > a:after {
		font-family: 'FontAwesome';
		font-weight: normal;
		font-style: normal;
		font-size: 13px; /* Preferred icon size */
		display: inline-block;
		line-height: 0.5em;
		text-transform: none;
		letter-spacing: normal;
		word-wrap: normal;
		white-space: nowrap;
		margin-left: 2px;
		/* Support for all WebKit browsers. */
		-webkit-font-smoothing: antialiased;
		/* Support for Safari and Chrome. */
		text-rendering: optimizeLegibility;

		/* Support for Firefox. */
		-moz-osx-font-smoothing: grayscale;

		/* Support for IE. */
		font-feature-settings: 'liga';

		content: "\f107";
	}
	.main-navigation > ul > li:hover > ul,
	.main-navigation > ul > li.focus > ul {
		top: 40px;
	}
	.main-navigation ul ul {
		display: block;
		position: absolute;
		top: 30px;
		right: 0;
		padding: 0;
		visibility: hidden;
		opacity: 0;
		border: 1px solid #ededed;
		transition: top 0.4s ease 0s, opacity 0.4s ease 0s;
		z-index: 99999;
		text-align: left;
		width: 200px;
		box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
	}
	.main-navigation > ul:before,
	.main-navigation > ul:after {
		content: none;
	}
	.main-navigation > ul > li > ul:before {
		border-bottom: 8px solid #fff;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		content: "";
		right: 40px;
		position: absolute;
		top: -8px;
		z-index: 19;
	}
	.main-navigation > ul > li > ul:after {
		border-bottom: 10px solid #ededed;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		content: "";
		right: 38px;
		position: absolute;
		top: -10px;
		z-index: 16;
	}
	.main-navigation ul ul a {
		width: 160px;
		padding: 10px 0;
		border-top: 1px solid #f2f2f2;
	}
	.main-navigation ul ul li:first-child > a {
		border-top: 0;
	}
	.main-navigation > ul > li > ul > li.menu-item-has-children > a:after {
		font-family: 'FontAwesome';
		font-weight: normal;
		font-style: normal;
		font-size: 14px; /* Preferred icon size */
		display: inline-block;
		line-height: 0;
		text-transform: none;
		letter-spacing: normal;
		word-wrap: normal;
		white-space: nowrap;
		direction: ltr;

		/* Support for all WebKit browsers. */
		-webkit-font-smoothing: antialiased;
		/* Support for Safari and Chrome. */
		text-rendering: optimizeLegibility;

		/* Support for Firefox. */
		-moz-osx-font-smoothing: grayscale;

		/* Support for IE. */
		font-feature-settings: 'liga';

		position: absolute;
		right: 15px;
		top: 13px;
		content: "\f107";
		vertical-align: middle;
	}
	.main-navigation ul ul ul {
		opacity: 0;
		top: 0;
		right: 100%;
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.3s ease-in-out 0s;
	}
	/* Header */
	.top-search {
		display: inline-block;
	}
	.top-search .search-form {
		top: 43px;
	}
	.site-branding .social-links {
		display: block;
		margin: 10px auto 0;
	}
	.site-description {
		font-size: 14px;
	}
	/* Site Title Centered */
	.site-title-centered .site-branding {
		padding: 30px 0;
	}
	.site-title-centered .top-search {
		margin: 0;
		float: none;
	}
	.site-title-centered .site-title {
		font-size: 48px;
	}
	/* Site Title Left */
	.site-title-left {
		border-bottom: 1px solid rgba(0, 0, 0, .07);
	}
	.site-title-left .site-title {
		font-size: 32px;
	}
	.site-title-left .site-branding {
		padding: 0;
	}
	.site-title-left .main-navigation {
		margin-top: 5px;
	}
	.site-title-left .site-branding,
	.site-title-left .main-navigation {
		text-align: left;
	}
	.site-title-left .social-links,
	.site-title-left .top-search {
		float: right;
	}
	.site-title-left .top-search {
		margin-top: 10px;
		margin-left: 5px;
	}
	.site-title-left .social-links {
		display: inline-block;
		margin: 8px 0 0;
	}
	.site-title-left .main-navigation > ul > li.current-menu-item:before {
		bottom: 0;
		width: 40px;
		margin-left: -20px;
	}
	/* Navbar */
	.main-navbar {

		border-top: 1px solid rgba(0, 0, 0, .07);
		border-bottom: 1px solid rgba(0, 0, 0, .07);
	}
	.has-header-image .main-navbar {
		border: 0;
		box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
		border-bottom: 2px solid $primary_color;
	}
	.main-navbar .social-links {
		display: inline-block;
	}
	.main-navbar .top-search {
		margin-top: 5px;
	}
	.main-navbar .social-links {
		margin: 4px 0 0;
	}
	.navbar-left .main-navigation {
		float: left;
	}
	.navbar-left .top-search,
	.navbar-left .social-links {
		float: right;
	}
	/* Featured Image */
	.fimg-fullwidth .featured-image {
		padding: 0 20px;
	}
	.fimg-fullwidth .entry-header {
		max-width: 100%;
		padding-left: 80px;
		padding-right: 80px;
	}
	.fimg-fullwidth .entry-thumbnail {
		margin-bottom: 30px;
	}
	/* Content */
	.author-title {
		text-align: left;
	}
	.category-title {
		margin-bottom: 20px;
	}
	/* Featured Posts */
	.featured-posts {
		margin-bottom: 40px;
	}
	.featured-item {
		margin: 0;
	}
	.featured-posts .row {
		margin-left: -15px;
		margin-right: -15px;
	}
	.featured-posts .col-8,
	.featured-posts .col-4 {
		padding-left: 15px;
		padding-right: 15px;
	}
	.featured-large {
		height: 420px;
	}
	.featured-small {
		height: 195px;
	}
	.featured-small.first {
		margin-bottom: 30px;
	}
	.featured-large h4 {
		font-size: 32px;
	}
	.featured-small h4 {
		font-size: 18px;
	}

	/* Footer */
	.site-credits {
		margin-bottom: 0;
	}
}

@media screen and (min-width: 1440px) {
	/* Header */
	.header-image {
		height: 240px;
	}
	.site-title-left {
		padding-left: 15px;
		padding-right: 15px;
	}

	/* Featured Image */
	.fimg-fullwidth .featured-image {
		padding: 0 25px;
	}
	/* List Posts */
	.list-post .entry-thumbnail {
		max-width: 240px;
	}

	/* Single Posts and Pages */
	.page-content {
		margin-bottom: 30px;
	}
	/* Posts and Comments Navigation */
	.posts-navigation,
	.post-navigation,
	.author-info {
		padding: 15px 0;
	}
	/* Featured Posts */
	.featured-posts .row {
		margin-left: -20px;
		margin-right: -20px;
	}
	.featured-posts .col-8,
	.featured-posts .col-4 {
		padding-left: 20px;
		padding-right: 20px;
	}
	.featured-small.first {
		margin-bottom: 40px;
	}
	.featured-large {
		height: 500px;
	}
	.featured-small {
		height: 230px;
	}
	.featured-small h4 {
		font-size: 22px;
	}
	/* Footer */
	.site-footer {
		margin-top: 30px;
	}
}
