// COLOR VARIABLES
$primary_color: #214d74;
$secondary_color: #ff8400;
$main_navigation: #102c46;
$white_color: #fff;
// FONT FAMILY
//Footer Color
$footer_background: #303440;
$footer_background: #131119;
$primary_font_family: 'Poppins', serif;
